In [5]:
#Importaci√≥n del archivo
import pandas as pd
df = pd.read_csv("C:/Users/USUARIO/OneDrive/Escritorio/NintendoGames.csv")

In [6]:
#Imprimo las primeras 5 filas del df
df.head()

,meta_score,title,platform,date,user_score,link,esrb_rating,developers,genres
0,NaN,Super Mario RPG,Switch,"Nov 17, 2023",NaN,/game/switch/super-mario-rpg,E,['Nintendo'],"['Role-Playing', 'Japanese-Style']"
1,NaN,WarioWare: Move It!,Switch,"Nov 3, 2023",NaN,/game/switch/warioware-move-it!,RP,['Intelligent Systems'],"['Miscellaneous', 'Party / Minigame']"
2,NaN,Super Mario Bros. Wonder,Switch,"Oct 20, 2023",NaN,/game/switch/super-mario-bros-wonder,E,['Nintendo'],"['Action', 'Platformer', '2D']"
3,NaN,Detective Pikachu Returns,Switch,"Oct 6, 2023",NaN,/game/switch/detective-pikachu-returns,NaN,['Creatures Inc.'],"['Adventure', '3D', 'Third-Person']"
4,NaN,Fae Farm,Switch,"Sep 8, 2023",NaN,/game/switch/fae-farm,E10+,['Phoenix Labs'],"['Simulation', 'Virtual', 'Virtual Life']"

In [7]:
#Imprimo los ultimos 5 registros
df.tail()

,meta_score,title,platform,date,user_score,link,esrb_rating,developers,genres
1089,NaN,Yo-kai Watch 4,Switch,TBA,NaN,/game/switch/yo-kai-watch-4,E10+,['Level 5'],"['Role-Playing', 'Trainer']"
1090,NaN,Splatoon 3: Expansion Pass Wave 2 - Side Order,Switch,TBA,NaN,/game/switch/splatoon-3-expansion-pass-wave-2-...,NaN,['Nintendo'],"['Action', 'Shooter', 'Third-Person', 'Arcade']"
1091,NaN,Mario Kart 8 Deluxe: Booster Course Pass - Wave 6,Switch,TBA,NaN,/game/switch/mario-kart-8-deluxe-booster-cours...,NaN,['Nintendo'],"['Racing', 'Arcade', 'Automobile']"
1092,NaN,Princess Peach for Nintendo Switch,Switch,TBA 2024,NaN,/game/switch/princess-peach-for-nintendo-switch,NaN,['Nintendo'],"['Adventure', 'General']"
1093,NaN,Luigi's Mansion: Dark Moon,Switch,TBA 2024,NaN,/game/switch/luigis-mansion-dark-moon,NaN,['Next Level Games'],"['Action Adventure', 'General']"

In [8]:
#Dimensiones del data set
print(df.shape)

(1094, 9)

In [9]:
df.count()

meta_score      709
title          1094
platform       1094
date           1094
user_score      856
link           1094
esrb_rating     972
developers     1091
genres         1094
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   meta_score   709 non-null    float64
 1   title        1094 non-null   object
 2   platform     1094 non-null   object
 3   date         1094 non-null   object
 4   user_score   856 non-null    float64
 5   link         1094 non-null   object
 6   esrb_rating  972 non-null    object
 7   developers   1091 non-null   object
 8   genres       1094 non-null   object
dtypes: float64(2), object(7)
memory usage: 77.1+ KB